body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:1201px;
  height:1453px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:1453px;
}
#u1 {
  position:absolute;
  left:2px;
  top:718px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:107px;
  top:46px;
  width:532px;
  height:361px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:361px;
}
#u3 {
  position:absolute;
  left:2px;
  top:172px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:863px;
  top:58px;
  width:136px;
  height:31px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:695px;
  top:113px;
  width:501px;
  height:294px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:294px;
}
#u7 {
  position:absolute;
  left:2px;
  top:139px;
  width:497px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:107px;
  top:503px;
  width:119px;
  height:29px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:118px;
  top:560px;
  width:1074px;
  height:171px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:171px;
}
#u11 {
  position:absolute;
  left:2px;
  top:78px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:105px;
  top:782px;
  width:282px;
  height:29px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:29px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:147px;
  top:584px;
  width:198px;
  height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:147px;
  top:605px;
  width:198px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:147px;
  top:626px;
  width:214px;
  height:21px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:147px;
  top:647px;
  width:185px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:466px;
  top:583px;
  width:230px;
  height:21px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:466px;
  top:600px;
  width:230px;
  height:21px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:466px;
  top:621px;
  width:230px;
  height:21px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:466px;
  top:641px;
  width:230px;
  height:21px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:799px;
  top:584px;
  width:230px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:799px;
  top:603px;
  width:295px;
  height:21px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:799px;
  top:620px;
  width:349px;
  height:21px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:799px;
  top:641px;
  width:349px;
  height:21px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:124px;
  top:853px;
  width:1068px;
  height:234px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:234px;
}
#u39 {
  position:absolute;
  left:2px;
  top:109px;
  width:1064px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:105px;
  top:1121px;
  width:282px;
  height:29px;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:29px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:123px;
  top:1184px;
  width:1068px;
  height:234px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:234px;
}
#u43 {
  position:absolute;
  left:2px;
  top:109px;
  width:1064px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:147px;
  top:669px;
  width:214px;
  height:21px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:467px;
  top:663px;
  width:255px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
