body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:98px;
  top:755px;
  width:1200px;
  height:406px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:406px;
}
#u1 {
  position:absolute;
  left:2px;
  top:195px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-12px;
  top:0px;
  width:1514px;
  height:92px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:92px;
}
#u3 {
  position:absolute;
  left:2px;
  top:38px;
  width:1510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:785px;
  top:0px;
  width:119px;
  height:92px;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:92px;
}
#u5 {
  position:absolute;
  left:2px;
  top:35px;
  width:115px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:898px;
  top:0px;
  width:149px;
  height:92px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:92px;
}
#u7 {
  position:absolute;
  left:2px;
  top:35px;
  width:145px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:98px;
  top:574px;
  width:1200px;
  height:181px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:181px;
}
#u9 {
  position:absolute;
  left:2px;
  top:82px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:287px;
  top:807px;
  width:275px;
  height:300px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u11 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:287px;
  top:807px;
  width:275px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  opacity:0.600000023841858;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u14 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:121px;
  width:203px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:563px;
  top:807px;
  width:275px;
  height:300px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u18 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:563px;
  top:807px;
  width:275px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  opacity:0.600000023841858;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u21 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:77px;
  top:128px;
  width:141px;
  height:94px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:94px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:839px;
  top:807px;
  width:275px;
  height:300px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u25 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:838px;
  top:807px;
  width:275px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
  opacity:0.600000023841858;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:300px;
}
#u28 {
  position:absolute;
  left:2px;
  top:142px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:52px;
  top:106px;
  width:186px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:98px;
  top:1161px;
  width:1200px;
  height:485px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:485px;
}
#u32 {
  position:absolute;
  left:2px;
  top:234px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:146px;
  top:1211px;
  width:153px;
  height:127px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:127px;
}
#u34 {
  position:absolute;
  left:2px;
  top:56px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:715px;
  top:1245px;
  width:182px;
  height:140px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:140px;
}
#u36 {
  position:absolute;
  left:2px;
  top:62px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:350px;
  top:1226px;
  width:200px;
  height:100px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:361px;
  top:1232px;
  width:189px;
  height:94px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:94px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:974px;
  top:1294px;
  width:200px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:985px;
  top:1300px;
  width:189px;
  height:94px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:94px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:255px;
  top:1378px;
  width:182px;
  height:140px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:140px;
}
#u46 {
  position:absolute;
  left:2px;
  top:62px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:514px;
  top:1427px;
  width:200px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:525px;
  top:1433px;
  width:189px;
  height:94px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:94px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:98px;
  top:1646px;
  width:1200px;
  height:181px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:181px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:174px;
  top:1700px;
  width:98px;
  height:72px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:72px;
}
#u54 {
  position:absolute;
  left:2px;
  top:28px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:372px;
  top:1693px;
  width:84px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u56 {
  position:absolute;
  left:0px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:466px;
  top:1693px;
  width:96px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:546px;
  top:1693px;
  width:108px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:644px;
  top:1693px;
  width:77px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u62 {
  position:absolute;
  left:0px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:715px;
  top:1693px;
  width:94px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:361px;
  top:1751px;
  width:477px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:29px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:985px;
  top:1695px;
  width:22px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u68 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1016px;
  top:1695px;
  width:11px;
  height:19px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1037px;
  top:1693px;
  width:18px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1064px;
  top:1693px;
  width:19px;
  height:19px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:947px;
  top:1751px;
  width:74px;
  height:45px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:45px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1064px;
  top:1753px;
  width:124px;
  height:43px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u78 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:615px;
  top:626px;
  width:365px;
  height:52px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:52px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:202px;
  top:93px;
}
#u81_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u81_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u83 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u85 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:242px;
  top:364px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:263px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:284px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:305px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:326px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u81_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u97 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u81_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u109 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u81_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u121 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u127 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u129 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u81_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u133 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:328px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:349px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:370px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:391px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:412px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u143 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:146px;
  top:25px;
  width:70px;
  height:50px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:228px;
  top:25px;
  width:199px;
  height:26px;
  font-family:'Cambria Math Regular', 'Cambria Math';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:228px;
  top:58px;
  width:181px;
  height:20px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#68BA34;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1048px;
  top:0px;
  width:176px;
  height:92px;
  font-size:18px;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:92px;
}
#u151 {
  position:absolute;
  left:2px;
  top:35px;
  width:172px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1048px;
  top:93px;
  visibility:hidden;
}
#u152_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u152_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u154 {
  position:absolute;
  left:2px;
  top:104px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:0px;
  top:5px;
  width:224px;
  height:35px;
  color:#FFFFFF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
}
#u156 {
  position:absolute;
  left:0px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:36px;
  width:215px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u158 {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:66px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u160 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:95px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u162 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:675px;
  top:0px;
  width:119px;
  height:92px;
  font-size:18px;
  color:#FFFFFF;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:92px;
}
#u164 {
  position:absolute;
  left:2px;
  top:35px;
  width:115px;
  word-wrap:break-word;
}
