body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:0px;
  width:1253px;
  height:74px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:74px;
}
#u1 {
  position:absolute;
  left:2px;
  top:29px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1152px;
  top:29px;
  width:75px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:49px;
  top:74px;
  width:1253px;
  height:742px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:742px;
}
#u5 {
  position:absolute;
  left:2px;
  top:363px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:816px;
  width:1253px;
  height:426px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:426px;
}
#u7 {
  position:absolute;
  left:2px;
  top:205px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:575px;
  top:865px;
  width:251px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:117px;
  top:934px;
  width:361px;
  height:239px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:239px;
}
#u11 {
  position:absolute;
  left:2px;
  top:112px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:499px;
  top:934px;
  width:361px;
  height:239px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:239px;
}
#u13 {
  position:absolute;
  left:2px;
  top:112px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:880px;
  top:934px;
  width:361px;
  height:239px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:239px;
}
#u15 {
  position:absolute;
  left:2px;
  top:112px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:49px;
  top:1242px;
  width:1253px;
  height:766px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:766px;
}
#u17 {
  position:absolute;
  left:2px;
  top:375px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:1424px;
  width:1080px;
  height:497px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:497px;
}
#u19 {
  position:absolute;
  left:2px;
  top:240px;
  width:1076px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:532px;
  top:1309px;
  width:287px;
  height:34px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:34px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:49px;
  top:2008px;
  width:1253px;
  height:474px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:474px;
}
#u23 {
  position:absolute;
  left:2px;
  top:229px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:49px;
  top:2482px;
  width:1253px;
  height:211px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:211px;
}
#u25 {
  position:absolute;
  left:2px;
  top:98px;
  width:1249px;
  word-wrap:break-word;
}
