body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:81px;
  width:1514px;
  height:191px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:201px;
}
#u1 {
  position:absolute;
  left:2px;
  top:88px;
  width:1510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:81px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:81px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:597px;
  top:0px;
  width:119px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:716px;
  top:0px;
  width:149px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:81px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:159px;
  top:2px;
  width:295px;
  height:78px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u9 {
  position:absolute;
  left:2px;
  top:31px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:851px;
  top:0px;
  width:158px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:81px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:154px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:478px;
  top:0px;
  width:119px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u13 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1039px;
  top:28px;
  width:177px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:1217px;
  top:28px;
  width:48px;
  height:25px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:590px;
  top:345px;
  width:325px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:590px;
  top:368px;
  width:295px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:590px;
  top:418px;
  width:417px;
  height:32px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:590px;
  top:393px;
  width:361px;
  height:24px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:645px;
  top:147px;
  width:149px;
  height:43px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00AEDA;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:230px;
  top:352px;
  width:202px;
  height:32px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1029px;
  top:345px;
  width:191px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1029px;
  top:371px;
  width:202px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:606px;
  top:535px;
  width:264px;
  height:43px;
  font-family:'Marvel Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#63B130;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:43px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:283px;
  top:299px;
  width:40px;
  height:42px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u36 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:672px;
  top:294px;
  width:58px;
  height:46px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
}
#u38 {
  position:absolute;
  left:2px;
  top:15px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1081px;
  top:291px;
  width:51px;
  height:49px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:457px;
  top:208px;
  width:543px;
  height:26px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:294px;
  top:708px;
  width:350px;
  height:46px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:294px;
  top:775px;
  width:350px;
  height:46px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:294px;
  top:846px;
  width:350px;
  height:46px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:294px;
  top:917px;
  width:350px;
  height:46px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:774px;
  top:708px;
  width:407px;
  height:184px;
  color:#6B6B6B;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:184px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:403px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:538px;
  top:1024px;
  width:262px;
  height:42px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:42px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:820px;
  top:1024px;
  width:262px;
  height:42px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#68BA34;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:42px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:258px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:484px;
  top:597px;
  width:536px;
  height:26px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:26px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:494px;
  top:627px;
  width:474px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:1149px;
  width:1767px;
  height:298px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1767px;
  height:298px;
}
#u62 {
  position:absolute;
  left:2px;
  top:141px;
  width:1763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:524px;
  top:1205px;
  width:70px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:318px;
  top:1205px;
  width:61px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u66 {
  position:absolute;
  left:0px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:524px;
  top:1235px;
  width:69px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u68 {
  position:absolute;
  left:0px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:318px;
  top:1235px;
  width:94px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:454px;
  top:1339px;
  width:477px;
  height:24px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#798898;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:24px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1142px;
  top:1221px;
  width:74px;
  height:45px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:45px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:996px;
  top:1221px;
  width:124px;
  height:43px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:216px;
  top:1295px;
  width:1028px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:1011px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1028px;
  height:1px;
}
#u78 {
  position:absolute;
  left:708px;
  top:1205px;
  width:140px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u79 {
  position:absolute;
  left:0px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:708px;
  top:1235px;
  width:140px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u81 {
  position:absolute;
  left:0px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:622px;
  top:1377px;
  width:50px;
  height:37px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:674px;
  top:1383px;
  width:106px;
  height:15px;
  font-family:'SansSerif Oblique', 'SansSerif';
  font-weight:400;
  font-style:oblique;
  color:#798898;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:674px;
  top:1397px;
  width:131px;
  height:10px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#798898;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:10px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:318px;
  top:1225px;
  width:45px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:45px;
  height:1px;
}
