body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-18px;
  top:1000px;
  width:1477px;
  height:582px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1477px;
  height:582px;
}
#u1 {
  position:absolute;
  left:2px;
  top:283px;
  width:1473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-12px;
  top:0px;
  width:1514px;
  height:81px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:81px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:585px;
  top:0px;
  width:119px;
  height:81px;
  font-family:'Gentium Book Basic Bold', 'Gentium Book Basic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:29px;
  width:115px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:704px;
  top:0px;
  width:149px;
  height:81px;
  font-family:'Gentium Book Basic Bold', 'Gentium Book Basic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:81px;
}
#u7 {
  position:absolute;
  left:2px;
  top:29px;
  width:145px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-18px;
  top:2398px;
  width:1767px;
  height:298px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1767px;
  height:298px;
}
#u9 {
  position:absolute;
  left:2px;
  top:141px;
  width:1763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:505px;
  top:2453px;
  width:70px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:2453px;
  width:61px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:505px;
  top:2484px;
  width:69px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:300px;
  top:2483px;
  width:94px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:435px;
  top:2587px;
  width:477px;
  height:24px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#798898;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1123px;
  top:2469px;
  width:74px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:978px;
  top:2469px;
  width:124px;
  height:43px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:202px;
  top:81px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u26 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u28 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:242px;
  top:364px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:263px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:284px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:305px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:326px;
  top:364px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u40 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u52 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u64 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:274px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:295px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:316px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:337px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:358px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u76 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:328px;
  top:374px;
  width:14px;
  height:12px;
  color:#00CC66;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:349px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:370px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:391px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:412px;
  top:374px;
  width:14px;
  height:12px;
  color:#FF9900;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:144px;
  top:3px;
  width:295px;
  height:78px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u88 {
  position:absolute;
  left:2px;
  top:31px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:839px;
  top:0px;
  width:158px;
  height:81px;
  font-family:'Gentium Book Basic Bold', 'Gentium Book Basic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:81px;
}
#u90 {
  position:absolute;
  left:2px;
  top:29px;
  width:154px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:839px;
  top:81px;
  visibility:hidden;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u93 {
  position:absolute;
  left:2px;
  top:104px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:5px;
  width:224px;
  height:35px;
  color:#434343;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
}
#u95 {
  position:absolute;
  left:0px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:36px;
  width:215px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u97 {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:66px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#434343;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u99 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:95px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#434343;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u101 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:466px;
  top:0px;
  width:119px;
  height:81px;
  font-family:'Gentium Book Basic Bold', 'Gentium Book Basic';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u103 {
  position:absolute;
  left:2px;
  top:29px;
  width:115px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1027px;
  top:28px;
  width:177px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u105 {
  position:absolute;
  left:1205px;
  top:28px;
  width:48px;
  height:25px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:585px;
  top:81px;
  width:510px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u107_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
}
#u109 {
  position:absolute;
  left:2px;
  top:112px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:40px;
  top:19px;
  width:115px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:207px;
  top:19px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:355px;
  top:19px;
  width:186px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:40px;
  top:75px;
  width:104px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:40px;
  top:99px;
  width:122px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:40px;
  top:126px;
  width:122px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:184px;
  top:49px;
  width:148px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:184px;
  top:75px;
  width:159px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:184px;
  top:99px;
  width:148px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:368px;
  top:49px;
  width:148px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:368px;
  top:75px;
  width:148px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:368px;
  top:99px;
  width:148px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:368px;
  top:126px;
  width:148px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:368px;
  top:153px;
  width:148px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:368px;
  top:180px;
  width:148px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:22px;
  top:39px;
  width:140px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u141 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:737px;
  top:1830px;
  width:516px;
  height:230px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:230px;
}
#u143 {
  position:absolute;
  left:2px;
  top:107px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:197px;
  top:1830px;
  width:516px;
  height:230px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:230px;
}
#u145 {
  position:absolute;
  left:2px;
  top:107px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:197px;
  top:2093px;
  width:516px;
  height:243px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:243px;
}
#u147 {
  position:absolute;
  left:2px;
  top:114px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:737px;
  top:2093px;
  width:516px;
  height:243px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:243px;
}
#u149 {
  position:absolute;
  left:2px;
  top:114px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:455px;
  top:642px;
  width:454px;
  height:23px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:23px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:609px;
  top:562px;
  width:177px;
  height:54px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#14B9D5;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:565px;
  top:673px;
  width:240px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:19px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:132px;
  top:764px;
  width:67px;
  height:61px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:61px;
}
#u157 {
  position:absolute;
  left:2px;
  top:22px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:214px;
  top:764px;
  width:116px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:214px;
  top:810px;
  width:250px;
  height:85px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:85px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:528px;
  top:764px;
  width:51px;
  height:71px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:71px;
}
#u163 {
  position:absolute;
  left:2px;
  top:28px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:592px;
  top:764px;
  width:127px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:592px;
  top:810px;
  width:243px;
  height:85px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:85px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:902px;
  top:764px;
  width:69px;
  height:66px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:66px;
}
#u169 {
  position:absolute;
  left:2px;
  top:25px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:978px;
  top:764px;
  width:127px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:978px;
  top:810px;
  width:219px;
  height:102px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:102px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:197px;
  top:1268px;
  width:310px;
  height:200px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u175 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:534px;
  top:1268px;
  width:310px;
  height:200px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u177 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:877px;
  top:1268px;
  width:310px;
  height:200px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u179 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:204px;
  top:1440px;
  width:126px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:545px;
  top:1440px;
  width:126px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:886px;
  top:1440px;
  width:126px;
  height:22px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:197px;
  top:1268px;
  visibility:hidden;
}
#u186_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
  opacity:0.5;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u188 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:93px;
  top:25px;
  width:123px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:64px;
  top:58px;
  width:201px;
  height:32px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:32px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:99px;
  top:113px;
  width:99px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#68BA34;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:534px;
  top:1268px;
  visibility:hidden;
}
#u195_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u195_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
  opacity:0.5;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u197 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:115px;
  top:29px;
  width:80px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:64px;
  top:58px;
  width:191px;
  height:37px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:37px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:99px;
  top:113px;
  width:99px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#68BA34;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:877px;
  top:1268px;
  visibility:hidden;
}
#u204_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u204_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
  opacity:0.5;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:200px;
}
#u206 {
  position:absolute;
  left:2px;
  top:92px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:112px;
  top:27px;
  width:113px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:64px;
  top:58px;
  width:191px;
  height:37px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:37px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:99px;
  top:113px;
  width:99px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#68BA34;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:550px;
  top:1073px;
  width:261px;
  height:54px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#14B9D5;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:54px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:435px;
  top:1152px;
  width:454px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:25px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:586px;
  top:1178px;
  width:209px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:577px;
  top:1633px;
  width:295px;
  height:54px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#14B9D5;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:54px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:480px;
  top:1712px;
  width:523px;
  height:25px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:25px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:628px;
  top:1738px;
  width:160px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:197px;
  top:2543px;
  width:1028px;
  height:10px;
}
#u225_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u225_end {
  position:absolute;
  left:1011px;
  top:-5px;
  width:18px;
  height:20px;
}
#u225_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1028px;
  height:1px;
}
#u226 {
  position:absolute;
  left:690px;
  top:2453px;
  width:140px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u227 {
  position:absolute;
  left:0px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:690px;
  top:2484px;
  width:140px;
  height:30px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#798898;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u229 {
  position:absolute;
  left:0px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:604px;
  top:2626px;
  width:50px;
  height:37px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:655px;
  top:2632px;
  width:106px;
  height:15px;
  font-family:'SansSerif Oblique', 'SansSerif';
  font-weight:400;
  font-style:oblique;
  color:#798898;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:655px;
  top:2645px;
  width:131px;
  height:10px;
  font-family:'SansSerif Regular', 'SansSerif';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#798898;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:10px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:300px;
  top:2473px;
  width:45px;
  height:10px;
}
#u236_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_line {
  position:absolute;
  left:0px;
  top:5px;
  width:45px;
  height:1px;
}
