body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:352px;
  top:139px;
  width:671px;
  height:45px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009DD9;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:6px;
  width:671px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:282px;
  top:372px;
  width:253px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:741px;
  top:372px;
  width:244px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:745px;
  top:682px;
  width:245px;
  height:130px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:130px;
}
#u7 {
  position:absolute;
  left:2px;
  top:57px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:282px;
  top:682px;
  width:253px;
  height:125px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:125px;
}
#u9 {
  position:absolute;
  left:2px;
  top:54px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:313px;
  top:520px;
  width:132px;
  height:27px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:460px;
  top:512px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:555px;
  width:230px;
  height:27px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:460px;
  top:551px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:705px;
  top:516px;
  width:223px;
  height:27px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:27px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:933px;
  top:512px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:765px;
  top:555px;
  width:167px;
  height:27px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:933px;
  top:551px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:760px;
  top:596px;
  width:172px;
  height:27px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:933px;
  top:592px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:750px;
  top:635px;
  width:182px;
  height:27px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:933px;
  top:631px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:275px;
  top:846px;
  width:204px;
  height:27px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:484px;
  top:842px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:180px;
  top:885px;
  width:299px;
  height:27px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:27px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:484px;
  top:881px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:775px;
  top:846px;
  width:180px;
  height:27px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:960px;
  top:842px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:715px;
  top:885px;
  width:240px;
  height:27px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:960px;
  top:881px;
  width:150px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0474B4;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:-6px;
  top:965px;
  width:1200px;
  height:150px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
}
#u51 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:71px;
  top:1002px;
  width:98px;
  height:72px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:72px;
}
#u53 {
  position:absolute;
  left:2px;
  top:28px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:268px;
  top:1012px;
  width:84px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u55 {
  position:absolute;
  left:0px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:362px;
  top:1012px;
  width:96px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u57 {
  position:absolute;
  left:0px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:442px;
  top:1012px;
  width:108px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u59 {
  position:absolute;
  left:0px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:540px;
  top:1012px;
  width:77px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:611px;
  top:1012px;
  width:94px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u63 {
  position:absolute;
  left:0px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:258px;
  top:1051px;
  width:477px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:23px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:840px;
  top:1018px;
  width:74px;
  height:45px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:45px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:950px;
  top:1020px;
  width:124px;
  height:43px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
}
#u69 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:-12px;
  top:0px;
  width:1514px;
  height:81px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:81px;
}
#u71 {
  position:absolute;
  left:2px;
  top:32px;
  width:1510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:585px;
  top:0px;
  width:119px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u73 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:704px;
  top:0px;
  width:149px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:81px;
}
#u75 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:122px;
  top:3px;
  width:295px;
  height:78px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u77 {
  position:absolute;
  left:2px;
  top:31px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:839px;
  top:0px;
  width:158px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:81px;
}
#u79 {
  position:absolute;
  left:2px;
  top:30px;
  width:154px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:466px;
  top:0px;
  width:119px;
  height:81px;
  font-size:18px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:81px;
}
#u81 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1027px;
  top:28px;
  width:177px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:1205px;
  top:28px;
  width:48px;
  height:25px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:839px;
  top:170px;
  visibility:hidden;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:225px;
}
#u87 {
  position:absolute;
  left:2px;
  top:104px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:5px;
  width:224px;
  height:35px;
  color:#434343;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
}
#u89 {
  position:absolute;
  left:0px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:36px;
  width:215px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u91 {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:66px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#434343;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u93 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:95px;
  width:215px;
  height:29px;
  font-size:18px;
  color:#434343;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
}
#u95 {
  position:absolute;
  left:0px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:573px;
  top:326px;
  width:510px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u96_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:240px;
}
#u98 {
  position:absolute;
  left:2px;
  top:112px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:40px;
  top:19px;
  width:115px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:207px;
  top:19px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:355px;
  top:19px;
  width:186px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:40px;
  top:75px;
  width:104px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:40px;
  top:99px;
  width:122px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:40px;
  top:126px;
  width:122px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:184px;
  top:49px;
  width:148px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:184px;
  top:75px;
  width:159px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:184px;
  top:99px;
  width:148px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:368px;
  top:49px;
  width:148px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:368px;
  top:75px;
  width:148px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:368px;
  top:99px;
  width:148px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:368px;
  top:126px;
  width:148px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:368px;
  top:153px;
  width:148px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:368px;
  top:180px;
  width:148px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:22px;
  top:39px;
  width:140px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:299px;
  top:185px;
  width:738px;
  height:59px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:59px;
}
#u132 {
  position:absolute;
  left:0px;
  top:14px;
  width:738px;
  word-wrap:break-word;
}
