body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:423px;
  top:119px;
  width:454px;
  height:23px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:23px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:579px;
  top:45px;
  width:177px;
  height:54px;
  font-family:'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#14B9D5;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:530px;
  top:154px;
  width:240px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:267px;
  width:67px;
  height:61px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:61px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:166px;
  top:259px;
  width:116px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:166px;
  top:305px;
  width:267px;
  height:85px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:85px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:493px;
  top:267px;
  width:51px;
  height:71px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:71px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:564px;
  top:259px;
  width:127px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:564px;
  top:305px;
  width:277px;
  height:85px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:85px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:912px;
  top:259px;
  width:64px;
  height:67px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:987px;
  top:259px;
  width:127px;
  height:34px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#506A85;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:987px;
  top:305px;
  width:282px;
  height:85px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:85px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:987px;
  top:349px;
  width:340px;
  height:16px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:987px;
  top:376px;
  width:340px;
  height:16px;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
